body {
    background-color: #f5f5f5;
    font-family: "Roboto", sans-serif;
}

h1 {
    color: #212121;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 500;
}

h2 {
    color: #424242;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
}

p {
    color: #616161;
    font-family: "Roboto", sans-serif;
}

a {
    color: #2196f3;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
}

ul {
    list-style-type: disc;
    color: #616161;
    margin-left: 20px;
    font-family: "Roboto", sans-serif;
}

li {
    color: #616161;
    margin-bottom: 5px;
    font-family: "Roboto", sans-serif;
}